section {
  margin-left: 4px;
}

.register-container {
  margin: 0 auto;
  background-color: #fff;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 4px 6px 5px rgba(0, 0, 0, 0.1);
  height: 132px;
}

.user-data--container {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 6px 10px 5px rgba(0, 0, 0, 0.1);
  height: 60vh;
}
.form-group {
  position: relative;
  display: flex;
  flex-direction: row;
}

.form-group label {
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}
.form-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 11px;
}
.form-group select {
  border-radius: 22px;
}

.form-group select,
.form-group input[type="text"],
.form-group input[type="email"] {
  width: 150px;
  height: 26px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 10px;
}

.form-group label {
  position: absolute;
  top: -11px;
  left: 5px;
  color: grey;
  font-size: 10px;
}

.data-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 200px;
}

.data-information div {
  margin: 10px 10px 0 0;
}

.residence-information {
  display: flex;
  flex-flow: column;
}

.residence-information--container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.residence-information input {
  margin-right: 10px;
}

.payment-information--container {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
  gap: 10px;
}

input[type="submit"] {
  background-color: #4caf50;
  padding: 8px;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 5px;
  align-self: start;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.button-category {
  width: 136px;
  height: 36px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 11px;
  background-color: #fff;
  align-self: flex-start;
}

.fa-chevron-down {
  display: inline-block;
  position: absolute;
  font-size: 12px;
  top: -3%;
  right: 6%;
}

.products-category {
  display: grid;
  position: absolute;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 68px;
  top: 38px;
  right: 40px;
  box-shadow: 1px 1px 10px grey;
}

.products-category button {
  font-size: 11px;
  background-color: #fff;
}

.products-category button:hover {
  color: white;
  background-color: grey;
}

.minus {
  padding: 10px;
}

.amount {
  display: block;
  font-size: 10px;
}

.amount button {
  font-size: 9px;
  margin: 0 25px;
  cursor: pointer;
}
.plus {
  padding: 10px;
}
.amount-label {
  left: 58px !important;
}
.hidden {
  display: none !important;
}

@media (max-width: 1250px) {
  .form-container {
    grid-template-columns: repeat(5, 1fr);
    gap: 18px;
  }

  .amount button {
    font-size: 9px;
  }
}

@media (max-width: 950px) {
  .form-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
  }

  input[type="submit"] {
    bottom: 10%;
    left: 15%;
  }

  .payment-information--container select {
    width: 160px !important;
  }
}

@media (max-height: 666px) {
  .payment-information--container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-height: 662px) {
  .form-group select,
  .form-group input[type="text"],
  .form-group input[type="email"] {
    width: 122px;
    height: 23px;
  }
}
@media (max-width: 802px) {
  body {
    font-size: 10px;
  }

  .residence-information input {
    width: 110px !important;
    margin-right: 10px;
  }

  .payment-information--container input {
    width: 105px !important;
  }
  .register-container {
    height: 24vh;
  }

  .amount button {
    font-size: 5px;
  }

  .amount-label {
    left: 55px !important;
    top: -5px !important;
  }

  .form-group select,
  .form-group input[type="text"],
  .form-group input[type="email"] {
    width: 95px;
  }

  .payment-information--container input {
    width: 105px !important;
  }

  .payment-information--container select {
    width: 137px !important;
  }
  .amount button {
    margin: 0px 11px;
  }

  .amount-label {
    top: -13px !important;
    left: 25px !important;
  }
}

@media (max-width: 700px) {
  .form-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 13px;
  }
}

@media (max-width: 520px) {
  .payment-information--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media (max-width: 420px) {
  .payment-information--container {
    grid-template-columns: repeat(2, 1fr);
  }
  .residence-information--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
  }
  .residence-information .form-group {
    margin-top: 10px;
  }
}
